.body {
    width: 100vw;
    height: auto;
    color: black;
    font-size: 1rem;
    > .inner {
        width: 1300px;
        padding: 1rem 1rem;
        padding-top: 3rem;
        .widget {
            .title {
                background: #ff7b00;
                color: white;
                padding: 0.5rem 1.5rem;
                font-weight: 600;
                font-size: 0.9rem;
            }
            .inner {
                padding: 1rem 1.5rem;
                font-size: 0.9rem;
            }
        }
    }
}
